{% extends 'base.html.twig' %}

{% block body %}

    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}

    <div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">	
                    <h1>Liste des Auteurs // <a href="{{path('app_auteur_new') }} class="btn btn-primary"> Ajouter </a> </h1>

                    <hr style="width:100%; height:10px; background-color:#1B4F72 ">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Noms</th>
                                    <th>Prénoms</th>
                                    <th>Adresse</th>
                                    <th>Mails</th> 
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for auteur in auteurs %}
                                    <tr>
                                        <td>{{ auteur.id }}</td>
                                        <td>{{ auteur.noms }}</td>
                                        <td>{{ auteur.prenoms }}</td>
                                        <td>{{ auteur.adresse }}</td>
                                        <td>{{ auteur.mail }}</td>
                                        <td>{{ auteur.Phone}}</td> 
                                        <td> 
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center">
                                                    <a href="{{path('app_auteur_affichage', {'id': auteur.id})}}" class="btn btn-primary"> Affich/ </a> 
                                                    <a href="{{path('app_auteur_new')}}" class="btn btn-primary"> ajouter /  </a> 
                                                    <a href="#" class="btn btn-primary"> Suppr /  </a> 
                                                </div>
                                            </div> 
                    </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Aucun article pour lemoment !</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                        
                    <br><br><br><br>
                </div>
                <div>
                    <a href="{{path('app_auteur_new')}}" class="btn btn-primary"> Ajouter un Auteur /  </a> <br><br><br><br>
                </di>
            </div>
        </article>
    </div>
{% endblock %}