{% extends 'base.html.twig' %}

{% block body %}

        {% include("menus/navigation.html.twig") %}
        {% include("headers/header.html.twig") %}

    <div class ="col-lg-12 bg-light">
        <div class ="container-sm">   <div>
                <h3> Gestion des UTILISATEURS </h3>
        </div>

         <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>noms</th>
                <th>Prenoms</th>
                <th>Adresse</th>
                <th>Mails</th> 
                <th>Tel.</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for auteurs in auteurs %}
                <tr>
                    <td>{{ auteur.id }}</td>
                    <td>{{ auteur.noms }}</td>
                    <td>{{ auteur.prenoms }}</td>
                    <td>{{ auteur.adresse }}</td>
                    <td>{{ auteur.mail }} {{ article.auteur.prenoms }}</td>
                    <td>{{ auteur.phone}}</td>
                    <td> 

                    
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun article pour lemoment !</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        --
    </div>

     
{% endblock %}

{% block footer %} 
{% endblock%}


