{% extends 'base.html.twig' %}


{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header.html.twig") %}

     
<div class="container">
     {% if articles %}
        <article>
                <h2> {{articles.titre}}</h2> <br>                    
                <h6> Auteur : {{articles.auteur.noms }} </h6>  <br>
                <h6> Categorie : {{articles.categorie.titre}}</h6> <br>
                <h6> Date de Création :  {{ articles.createdAt | date('d/m/Y') }}  </h6> 
                
                <div class="clearfix">
                    <img src="https://via.placeholder.com/700x400" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                    <p>
                        {{articles.contenu}}
                    </p>
                </div>
                <br> 
                
                <!-- Affichage du Formulaire de Commentaire -->

                
                
            
                <!-- Affichage des Commentaires -->
            
            <br><br> <h5><p class="bg-dark text-white">   Liste de Commentaires: ({{ articles.commentaires | length}})  </p></h5>

            
                
            </article>
        {% endif %}   
        <a href="{{path('app_article')}}" class="btn btn-primary"> Retour / Index  </a> <br><br><br><br>   
    </div>


{% endblock %}