{% extends 'base.html.twig' %}


{% block body %}
    {% include("menus/navigation.html.twig") %}
    {% include("headers/header.html.twig") %}

     
<div class="container">
    <article>


<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        <h2> {{articles.titre}}</h2>
        <h6> ~ Auteur : {{articles.auteur.noms }} {{articles.auteur.prenoms }}</h6>  
        <h6> ~ Categorie : {{articles.categorie.titre}}</h6> 
        <h6> ~ Date de Création :  {{ articles.createdAt | date('d/m/Y') }}  </h6> 
    </a>
</div>


<div class="card border-primary justify-content" >
  <div class="card-body justify-content">
        <img src="{{ asset('images/3.1.jpeg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..."> 
            <p class="justify-content">
                    {{articles.contenu|nl2br}}
            </p>
            <br> 
        </p>
    </div>
</div>
            
<!-- Affichage du Formulaire de Commentaire -->
<p></p><p></p>
<div class="card border-primary">
    <p class="bg-dark text-white">Ajouter votre commentaire  </p>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-dark">{{ button_label|default('Sauvegardez') }}</button>
            {{ form_end(form) }}
</div> 
<p></p><p></p>
            
          
<!-- Affichage des Commentaires -->

    <div class="card border-primary">
        <h5><p class="bg-dark text-white">   Liste de Commentaires: ({{ articles.commentaires | length}})  </p></h5>
            {% for commentaire in articles.commentaires %}
                <div class="comment">
                    <div class="row">
                        <div>
                            {{ commentaire.createdAt | date('d/m/y') }} /  -- 
                            {{ commentaire.auteur }}
                        </div>
                        <div>
                            {{ commentaire.contenu }}
                        </div>
                    </div>
                </div>
                <hr size="3" color="blue">
            {% endfor %}
    </div>
    </article>   
    <a href="{{path('app_article')}}" class="btn btn-dark"> Retour / Index  </a> <br><br><br><br>   
    </div>







{% endblock%}
