{% extends 'base.html.twig' %}





{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
{% include("headers/header.html.twig") %}




     
<div class="container">
<article>
            <h2> {{articles.titre}}</h2> 
            <br>                    
            
            <h6> Auteur : {{articles.auteur.noms }} </h6>  <br>

            <h6> Categorie : {{articles.categorie.titre}}</h6> 
            <br>
            
            <h6> Date de Création :  {{ articles.createdAt | date('d/m/Y') }}  </h6> 
                 

            <div class="clearfix">
                <img src="https://via.placeholder.com/700x400" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

                <p>
                    {{articles.contenu}}
                </p>
        </div>

  
            <br> <br><br>

           <!-- Affichage des Commentaires -->
           <h2> Les Commentaires: </h1> 
            {{articles.commentaire}} 

            <br><br><br><br>
           
           
                
       </article>      

</div>
{% endblock%}

{% block footer %} 


{% endblock%}


