{% extends 'base.html.twig' %}


{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}

<div class="container">
    <!-- Article main content -->
	<article class="col-md-12 maincontent">
        <div class="container">
			<div class="row">	
    <h1>Liste des Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
               {#  <th>Image</th> #}
                <th>Titre</th>
                <th>Image</th>
                <th>Auteurs</th> 
                <th>Resumé</th>
            </tr>
        </thead>

        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.image }}</td>
                    <td>{{ article.auteur}}</td>
                    <td>{{ article.resume}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun article pour lemoment !</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div></div></div>

<br><br>
{% endblock%}