{% extends 'base.html.twig' %}


{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}

    <div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">	
                    <h1>Liste des Articles</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Categorie</th>
                                <th>Image</th>
                                <th>Auteurs</th> 
                                <th>Resumé</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>{{ article.id }}</td>
                                    <td>{{ article.titre }}</td>
                                    <td>{{ article.categorie.titre }}</td>
                                    <td>{{ article.image }}</td>
                                    <td>{{ article.auteur.noms }} {{ article.auteur.prenoms }}</td>
                                    <td>{{ article.resume}}</td>
                                    <td> 
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center">
                                                <a href="{{path('app_article_affichage', {'id': article.id})}}" class="btn btn-primary"> Lire /</a> 
                                                <a href="{{path('adm_article_edit', {'id': article.id})}}" class="btn btn-primary"> Editer </a> 
                                            </div>
                                        </div>
                                    
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun article pour lemoment !</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </article>
        <br><br> {{ knp_pagination_render(articles) }}


        
    </div>
<br><br> {{ knp_pagination_render(articles) }}
{% endblock%}